h1{
font-family: arial;
border-bottom: 2px solid black;
}

body{
  background-color: lightgrey;
}

#board div {
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  border: solid 3px black;
  margin: 3px;

  font-size: 3em;
  text-align: center;
  line-height: 120px;
  vertical-align: middle;

  float: left;
  display: inline;
}

#board div:nth-child(3n+1) {
  clear: left;
}

#scoreboard{
  font-size: 28px;

  clear: left;
}